@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Quicksand";
  src: url("/public/Quicksand-Light.woff2") format("woff2"),
    url("/public/Quicksand-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

body {
  font-family: "Quicksand";
}
